body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 600px;
    background: #ca690f;
}

div{
    /* height: 200px; */
    width: 100%;
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    
    position: relative;
    margin: 40px 0 0 0;
    border-radius: 12px;
}

h1{
    font-family: 'Love Ya Like A Sister',cursive;
    text-align: center;
    font-size: 75px;
    color: #aaaa;
    margin: 60px 0 0 0;
}

h2{
    text-align: center;
    color: #bbbb;
    margin: 0px 0 70px 0;
}

p{
    color: rgba(255, 255, 255, 1);
    background-color: black;
    background: -webkit-linear-gradient(bottom,rgba(0,0,0,1),rgba(0,0,0,.4));
    background: -moz-linear-gradient(bottom,rgba(0,0,0,1),rgba(0,0,0,.4));
    background: linear-gradient(bottom,rgba(0,0,0,1),rgba(0,0,0,.4));
    padding: 10px;
    line-height: 28px;
    text-align: justify;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 30px;
    
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    transition: height .5s;
}

small{
    opacity: 0;
}

.show-description p{
    height: 150px;
}

.show-description small{
    opacity: 1;
}

.dessert{
    background-image: url("https://3.bp.blogspot.com/-ga7Qrvibqmk/Uc9VCMovdDI/AAAAAAAAFG4/uCr_KFGLWQ0/s500/Grilled+Stone+Fruit+Parfait_Overhead+View-1-5.jpg");
}

.price{
    float:right;
    font-weight: bold;
}


